:root{
    --blue: rgb(17, 15, 65);
    --black: rgb(8, 7, 18);
    --button-color: rgb(32, 199, 252);
    --other-blue: rgb(18, 24, 74);
    --white: rgb(235, 244, 248);
    --slow-white: rgb(115, 121, 146);
}

.reset{
    margin: 0 !important;
    padding: 0 !important;
}
.bold{
    font-weight: bold;
}
/* DISPLAY */
.d-flex{
    display: flex !important;
}
.d-block{
    display: block !important;
}
.al-center{
    align-items: center !important;
}
.al-top{
    align-items: flex-start !important;
}
.al-end{
    align-items: flex-end !important;
}
.al-stretch{
    align-items: stretch !important;
}
.jus-center{
    justify-content: center !important;
}
.jus-top{
    justify-content: flex-start !important;
}
.jus-end{
    justify-content: flex-end !important;
}
.jus-between{
    justify-content: space-between !important;
}
.jus-around{
    justify-content: space-around !important;
}
.container-100{
    width: 100% !important;
    height: 100vh !important;
}
.conteiner-all{
    width: 100% !important;
    height: 100% !important;
}
.container-50{
    width: 50% !important;
    height: 50% !important;
}
.container-45{
    width: 45% !important;
    height: 45% !important;
}
.container{
    padding: 15px 100px;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* TAMANHO */
.w-100{
    width: 100% !important;
}
.w-95{
    width: 95% !important;
}
.w-50{
    width: 50% !important;
}
.w-45{
    width: 45% !important;
}
.h-100{
    height: 100% !important;
}
.h-90{
    height: 90% !important;
}
.h-80{
    height: 80% !important;
}
.h-50{
    height: 50% !important;
}

/* COLORS */
.bg-white{
    background-color: var(--white) !important;
}
.bg-blue{
    background-color: var(--blue) !important;
}
.bg-dark-blue{
    background-color: var(--black) !important;
}
.bg-gray-green{
    background-color: var(--dark-green) !important;
}
.bg-select{
    background-color: var(--select) !important;
}
.bg-black{
    background-color: rgb(18, 18, 18) !important;
}
.bg-red{
    background-color: rgb(244, 18, 18) !important;
}
.bg-transp{
    background-color: rgb(0,0,0,.5) !important;
}

.white{
    color: var(--white) !important;
}
.slow-white{
    color: var(--slow-white) !important;
}
.blue{
    color: var(--blue) !important;
}
.light-blue{
    color: var(--button-color) !important;
}
.gray-green{
    color: var(--dark-green) !important;
}
.select{
    color: var(--select) !important;
}


/* FONT */


/* TITLE */
.font-80{
    font-size: 80px !important;
    margin: 0 !important;
}
.font-70{
    font-size: 70px !important;
    margin: 0 !important;
}
.font-60{
    font-size: 60px !important;
    margin: 0 !important;
}
.font-50{
    font-size: 50px !important;
    margin: 0 !important;
}
.font-40{
    font-size: 40px !important;
    margin: 0 !important;
}
.font-30{
    font-size: 30px !important;
    margin: 0 !important;
}
.font-20{
    font-size: 20px !important;
    margin: 0 !important;
}
.font-10{
    font-size: 10px !important;
    margin: 0 !important;
}

.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}

.line-h1{
    line-height: 10px;
}
.line-h2{
    line-height: 20px;
}
.line-h3{
    line-height: 30px;
}
.line-h4{
    line-height: 40px;
}
.line-h5{
    line-height: 50px;
}
.line-h6{
    line-height: 60px;
}
.line-h7{
    line-height: 70px;
}
.line-h8{
    line-height: 80px;
}
.text-center{
    text-align: center;
}

/* MARGIN */
.m-1{
    margin: 1px !important;
}
.m-5{
    margin: 5px !important;
}
.m-10{
    margin: 10px !important;
}
.m-15{
    margin: 15px !important;
}
.m-20{
    margin: 20px !important;
}
.m-25{
    margin: 25px !important;
}
.m-30{
    margin: 30px !important;
}
.m-35{
    margin: 35px !important;
}
.m-40{
    margin: 40px !important;
}
.m-45{
    margin: 45px !important;
}
.m-50{
    margin: 50px !important;
}
.mt-1{
    margin-top: 1px !important;
}
.mt-5{
    margin-top: 5px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-15{
    margin-top: 15px !important;
}
.mt-20{
    margin-top: 20px !important;
}
.mt-25{
    margin-top: 25px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mt-35{
    margin-top: 35px !important;
}
.mt-40{
    margin-top: 40px !important;
}
.mt-45{
    margin-top: 45px !important;
}
.mt-50{
    margin-top: 50px !important;
}
.mt-60{
    margin-top: 60px !important;
}
.mt-70{
    margin-top: 70px !important;
}
.mt-80{
    margin-top: 80px !important;
}
.mr-1{
    margin-right: 1px !important;
}
.mr-5{
    margin-right: 5px !important;
}
.mr-10{
    margin-right: 10px !important;
}
.mr-15{
    margin-right: 15px !important;
}
.mr-20{
    margin-right: 20px !important;
}
.mr-25{
    margin-right: 25px !important;
}
.mr-30{
    margin-right: 30px !important;
}
.mr-35{
    margin-right: 35px !important;
}
.mr-40{
    margin-right: 40px !important;
}
.mr-45{
    margin-right: 45px !important;
}
.mr-50{
    margin-right: 50px !important;
}
.mb-1{
    margin-bottom: 1px !important;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-25{
    margin-bottom: 25px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-35{
    margin-bottom: 35px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}
.mb-45{
    margin-bottom: 45px !important;
}
.mb-50{
    margin-bottom: 50px !important;
}
.ml-1{
    margin-left: 1px !important;
}
.ml-5{
    margin-left: 5px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.ml-15{
    margin-left: 15px !important;
}
.ml-20{
    margin-left: 20px !important;
}
.ml-25{
    margin-left: 25px !important;
}
.ml-30{
    margin-left: 30px !important;
}
.ml-35{
    margin-left: 35px !important;
}
.ml-40{
    margin-left: 40px !important;
}
.ml-45{
    margin-left: 45px !important;
}
.mtb-50{
    margin-left: 50px !important;
}
.mtb-1{
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
.mtb-5{
    margin-top: 5px !important;
    margin-bottom: 1px !important;
}
.mtb-10{
    margin-top: 10px !important;
    margin-bottom: 1px !important;
}
.mtb-15{
    margin-top: 15px !important;
    margin-bottom: 1px !important;
}
.mtb-20{
    margin-top: 20px !important;
    margin-bottom: 1px !important;
}
.mtb-25{
    margin-top: 25px !important;
    margin-bottom: 1px !important;
}
.mtb-30{
    margin-top: 30px !important;
    margin-bottom: 1px !important;
}
.mtb-35{
    margin-top: 35px !important;
    margin-bottom: 1px !important;
}
.mtb-40{
    margin-top: 40px !important;
    margin-bottom: 1px !important;
}
.mtb-45{
    margin-top: 45px !important;
    margin-bottom: 1px !important;
}
.mtb-50{
    margin-top: 50px !important;
    margin-bottom: 1px !important;
}
.mlr-1{
    margin-left: 1px !important;
    margin-bottom: 1px !important;
}
.mlr-5{
    margin-left: 5px !important;
    margin-right: 1px !important;
}
.mlr-10{
    margin-left: 10px !important;
    margin-right: 1px !important;
}
.mlr-15{
    margin-left: 15px !important;
    margin-right: 1px !important;
}
.mlr-20{
    margin-left: 20px !important;
    margin-right: 1px !important;
}
.mlr-25{
    margin-left: 25px !important;
    margin-right: 1px !important;
}
.mlr-30{
    margin-left: 30px !important;
    margin-right: 1px !important;
}
.mlr-35{
    margin-left: 35px !important;
    margin-right: 1px !important;
}
.mlr-40{
    margin-left: 40px !important;
    margin-right: 1px !important;
}
.mlr-45{
    margin-left: 45px !important;
    margin-right: 1px !important;
}
.mlr-50{
    margin-left: 50px !important;
    margin-right: 1px !important;
}


/* PADDING */
.p-reset{
    padding: 0 !important;
}
.p-1{
    padding: 1px !important;
}
.p-5{
    padding: 5px !important;
}
.p-10{
    padding: 10px !important;
}
.p-15{
    padding: 15px !important;
}
.p-20{
    padding: 20px !important;
}
.p-25{
    padding: 25px !important;
}
.p-30{
    padding: 30px !important;
}
.p-35{
    padding: 35px !important;
}
.p-40{
    padding: 40px !important;
}
.p-45{
    padding: 45px !important;
}
.p-50{
    padding: 50px !important;
}
.pt-1{
    padding-top: 1px !important;
}
.pt-5{
    padding-top: 5px !important;
}
.pt-10{
    padding-top: 10px !important;
}
.pt-15{
    padding-top: 15px !important;
}
.pt-20{
    padding-top: 20px !important;
}
.pt-25{
    padding-top: 25px !important;
}
.pt-30{
    padding-top: 30px !important;
}
.pt-35{
    padding-top: 35px !important;
}
.pt-40{
    padding-top: 40px !important;
}
.pt-45{
    padding-top: 45px !important;
}
.pt-50{
    padding-top: 50px !important;
}
.pr-1{
    padding-right: 1px !important;
}
.pr-5{
    padding-right: 5px !important;
}
.pr-10{
    padding-right: 10px !important;
}
.pr-15{
    padding-right: 15px !important;
}
.pr-20{
    padding-right: 20px !important;
}
.pr-25{
    padding-right: 25px !important;
}
.pr-30{
    padding-right: 30px !important;
}
.pr-35{
    padding-right: 35px !important;
}
.pr-40{
    padding-right: 40px !important;
}
.pr-45{
    padding-right: 45px !important;
}
.pr-50{
    padding-right: 50px !important;
}
.pb-1{
    padding-bottom: 1px !important;
}
.pb-5{
    padding-bottom: 5px !important;
}
.pb-10{
    padding-bottom: 10px !important;
}
.pb-15{
    padding-bottom: 15px !important;
}
.pb-20{
    padding-bottom: 20px !important;
}
.pb-25{
    padding-bottom: 25px !important;
}
.pb-30{
    padding-bottom: 30px !important;
}
.pb-35{
    padding-bottom: 35px !important;
}
.pb-40{
    padding-bottom: 40px !important;
}
.pb-45{
    padding-bottom: 45px !important;
}
.pb-50{
    padding-bottom: 50px !important;
}
.pl-1{
    padding-left: 1px !important;
}
.pl-5{
    padding-left: 5px !important;
}
.pl-10{
    padding-left: 10px !important;
}
.pl-15{
    padding-left: 15px !important;
}
.pl-20{
    padding-left: 20px !important;
}
.pl-25{
    padding-left: 25px !important;
}
.pl-30{
    padding-left: 30px !important;
}
.pl-35{
    padding-left: 35px !important;
}
.pl-40{
    padding-left: 40px !important;
}
.pl-45{
    padding-left: 45px !important;
}
.pl-50{
    padding-left: 50px !important;
}
.plr-1{
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.plr-5{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.plr-10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.plr-15{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.plr-20{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.plr-25{
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.plr-30{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.plr-35{
    padding-left: 35px !important;
    padding-right: 35px !important;
}
.plr-40{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.plr-45{
    padding-left: 45px !important;
    padding-right: 45px !important;
}
.plr-50{
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.text-shadow{
    text-shadow: 1px 1px 1px rgba(8,8,8);
}

/* BORDER RADIUS */
.border-r1{
    border-radius: 5px !important;
}
.border-r2{
    border-radius: 10px !important;
}
.border-r3{
    border-radius: 15px !important;
}
.border-r4{
    border-radius: 20px !important;
}
.border-r5{
    border-radius: 25px !important;
}
.border-r6{
    border-radius: 30px !important;
}
.border-r7{
    border-radius: 35px !important;
}
.border-r8{
    border-radius: 40px !important;
}


/* BUTTONS */
.btn{
    padding: 5px 15px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
    background-color: var(--button-color) !important;
    color: var(--blue) !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: all .5s ease-in-out !important;
}
.btn:hover{
    background-color: rgb(60, 220, 255) !important;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    transform: scale(1.1);
}

.shadow{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0) !important;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0) !important;
}