:root {
    --background-color: rgb(17, 15, 65);
    --black-color: rgb(8, 7, 18);
    --button-color: rgb(32, 199, 252);
    --other-color: rgb(18, 24, 74);
    --font-color: rgb(235, 244, 248);
    --slow-font-color: rgb(115, 121, 146);
}

.opt li a:hover{
    transition: color .5s ease-in-out;
    color: var(--font-color) !important;
}

.img-odin-intro {
    width: auto;
    height: 650px;
}
.especial-text{
    padding: 5px;
    background-color: var(--other-color);
    color: var(--button-color);
    border-radius: 7px;
}

.card{
    cursor: pointer;
}

.card >img:hover{
    animation: tremer .001s linear infinite;
}

.card > img{
    max-width: 100%;
    border: 5px solid rgb(8, 7, 18);
    width: 350px;
    height: 500px;
    border-radius: 2rem;
    object-fit: cover;
}

.container-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 20px;
}

@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 4px;}
    50% {margin-left: 0;}
    45% {margin-left: -7px;}
    100% {margin-left: 0;}
}